.waste-collection > .item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.waste-collection > .item-container > .item {
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(max-content, auto) auto;
}

.waste-collection > .item-container > .item > .descr {
    padding: var(--padding-normal);
    display: grid;
    place-content: center;
    font-size: calc(24px + 6 * ((100% - 320px) / 680));
}

.waste-collection > .item-container > .item > .icon {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.waste-collection > .item-container > .item > .icon > .waste-icon {
    width: 30vmin;
    height: 30vmin;
    background-image: url('images/recycle_icons.png');
    background-size: 180vmin;
    background-repeat: no-repeat;
    background-position: 20% 0;
}

.waste-collection > .item-container > .item > .icon > .waste-icon[type="C"] {
    background-position: 34% 69%;
}

.waste-collection > .item-container > .item > .icon > .waste-icon[type="P"] {
    background-position: 8% 39%;
}

.waste-collection > .item-container > .item > .icon > .waste-icon[type="S"] {
    background-position: 90% 94%;
}

.waste-collection > .item-container > .item > .icon > .waste-icon[type="U"] {
    background-position: 90% 40%;
}

.waste-collection > .item-container > .item > .icon > .waste-icon[type="V"] {
    background-position: 61% 9%;
}

