@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';

.event-calendar-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    grid-gap: 0 1ch;
    grid-template-areas:
        'time start end'
        'time summary summary'
        'time descr descr'
        'time location location';
    border: solid 1px var(--border-internal-color);
}

.event-calendar-view > .time {
    grid-area: time;
    place-self: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-right: solid 1px var(--border-internal-color);
}

.event-calendar-view > .start {
    grid-area: start;
}

.event-calendar-view > .end {
    grid-area: end;
}

.event-calendar-view > .summary {
    grid-area: summary;
    font-size: 1.5em;
}

.event-calendar-view > .descr {
    grid-area: descr;
}

.event-calendar-view > .location {
    grid-area: location;
    font-size: 0.7em;
}
