@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:root {
    --background-clor: #222;
    --text-color: #ffeb3b;
    --border-internal-color: #66696f;

    --padding-normal: 8px;
    --margin-normal: 8px;
    --font-size: 22px;
    --border-radius: 4px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: var(--font-size);
    background-color: var(--background-clor);
    color: var(--text-color);
}

.box {
    display: grid;
    grid-template-rows: auto 1fr;
    border: solid 1px var(--border-internal-color);
}

.box-header {
    padding: var(--padding-normal) 0;
    width: 100%;
    border-bottom: solid 1px var(--border-internal-color);
}

.text-2x {
    font-size: 2em;
}

.text-3x {
    font-size: 2em;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.place-center {
    place-self: center;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}