@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap";

:root {
  --background-clor: #282c34;
  --text-color: #fafafa;

  --padding-normal: 8px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-clor);
  color: var(--text-color);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}